<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold not-last-of-type:my-5">About us</h2>
    <p class="text-zinc-300">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, autem? Inventore eaque, nemo laudantium aspernatur pariatur, natus fugit amet veritatis omnis perferendis deserunt sint! Corporis minus dignissimos sint nemo possimus!
    </p>
</section>