<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold pb-2"> El desarrollo de software al alcance de tu mano </h1>

        <p class="my-4 text-2xl justify-center">
            Altomar es una empresa dedicada al desarrollo de software tanto de front-end como de back-end. 
            Nos dedicamos al desarrollo combinando nuestro conocimiento, nuestra experiencia y la tecnologia para brindar soluciones personalizadas a tus necesidades.
        </p>
        <button class="bg-indigo-500 px-2 py-2
        hover:bg-indigo-400">
            Empezar
        </button>
    </div>
    <img src="/astro/images/ia.jpg" alt="" class="w-80">
</header>