<section class="flex flex-col py-20 md:flex-row md:p-20 gap-y-10">
    <div class="flex flex-1 flex-col gap-y-10 text-center">
        <h2  class="text-5xl font-bold justify-center">Nuestras especialidades</h2>
        <p class="text-3xl text-zinc-300 text-center justify-center">A raiz de la pasion y del compromiso de nuestro equipo en conseguir la perfeccion para el cliente es que creamos la empresa Altomar, dedicado a llevar tu pagina, negocio y desarrollo al siguiente nivel. </p>
    </div>
    <div class="flex-1 grid grid-cols-2 gap-4">
        <div class="text-center">
            <img src="/astro/images/imagen2.jpeg" class="w-40 m-auto">
            <p class="mt-4">Inteligencia artificial</p>
        </div>
        <div class="text-center">
            <img src="/astro/images/imagen3.jpeg" class="w-40 m-auto">
            <p class="mt-4">Desarrollo web</p>
        </div>
        <div class="text-center">
            <img src="/astro/images/imagen3.png" class="w-40 m-auto">
            <p class="mt-4">Front-end</p>
        </div>
        <div class="text-center">
            <img src="/astro/images/imagen4.jpg" class="w-40 m-auto">
            <p class="mt-4">Back-end</p>
        </div>
    </div>
</section>
