<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold not-last-of-type:my-5">Nosotros</h2>
    <p class="text-zinc-300">
        Somos una empresa familiar ubicada en la ciudad de La Plata, Buenos Aires, Argentina. Nos apasiona la programacion y la resolucion de problemas de la manera mas rapida y eficiente.
    </p>
</section>