---
import Layout from '../layouts/Layout.astro';

//components
import Altomar from '../components/landing/Altomar.astro'
import Introduccion from '../components/landing/Introduccion.astro'
import Nosotros from '../components/landing/Nosotros.astro'
import Feature from '../components/landing/Feature.astro'
import Proyectos from '../components/landing/Proyectos.astro'
---

<Layout title='Altomar'>
	<section id="Altomar" class="py-20"> 
		<Altomar/>	
	</section>
	<section id="Introduccion" class="py-20"> 
		<Introduccion/>	
	</section>
	<section id="Feature" class="py-20"> 
		<Feature/>	
	</section>
	<section id="Nosotros" class="py-20"> 
		<Nosotros/>	
	</section>
	<section id="Proyectos" class="py-20"> 
		<Proyectos/>	
	</section>

</Layout>
