---
let isOpen = false;
---
<script is:inline>
    function toggleMenu() {
        const menu = document.getElementById('mobile-menu');
        const iconOpen = document.getElementById('icon-open');
        const iconClose = document.getElementById('icon-close');
    
        menu.classList.toggle('hidden');
        iconOpen.classList.toggle('hidden');
        iconClose.classList.toggle('hidden');
        }
    
        function closeMenu() {
        const menu = document.getElementById('mobile-menu');
        const iconOpen = document.getElementById('icon-open');
        const iconClose = document.getElementById('icon-close');
    
        menu.classList.add('hidden');
        iconOpen.classList.remove('hidden');
        iconClose.classList.add('hidden');
    }
</script>


<header class="bg-zinc-900 fixed top-0 left-0 w-full z-50 shadow-md">
    <div class="container mx-auto flex justify-between items-center p-4">
        <h1 class="text-white text-2xl font-bold">ALTOMAR</h1>
        <!-- Botón hamburguesa (móvil) -->
        <button class="md:hidden text-white" onclick="toggleMenu()">
            <!-- ☰ -->
            <svg id="icon-open" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!-- ✖ -->
            <svg id="icon-close" class="w-6 h-6 hidden" fill="none" stroke="currentColor" stroke-width="2"viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <!-- Menú desktop -->
        <nav class="hidden md:flex space-x-6 text-white">
            <a href="#Altomar" class="hover:underline">Inicio</a>
            <a href="#Introduccion" class="hover:underline">Somos</a>
            <a href="#Feature" class="hover:underline">Features</a>
            <a href="#Nosotros" class="hover:underline">Nosotros</a>
            <a href="#Proyectos" class="hover:underline">Proyectos</a>
        </nav>
    </div>

    <!-- Menú móvil -->
    <div id="mobile-menu" class="md:hidden hidden px-4 pb-4 text-white flex flex-col space-y-2">
        <a href="#Altomar" class="hover:underline">Inicio</a>
        <a href="#Introduccion" class="hover:underline">Somos</a>
        <a href="#Feature" class="hover:underline">Features</a>
        <a href="#Nosotros" class="hover:underline">Nosotros</a>
        <a href="#Proyectos" class="hover:underline">Proyectos</a>
    </div>
</header>